<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodanie stanowiska</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Podaj nazwę: &nbsp;</label>
        <input [(ngModel)]="position.name" type="text"  name="Nazwa">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); addNew()">Zapisz</button>
  </div>
</ng-template>

<button class="btn btn-primary mb-2" (click)="open(content)">Dodaj</button>
