<div class="open-question-container">
  <mat-form-field>
    <mat-label>Wybierz typ pytania</mat-label>
    <mat-select [(ngModel)]="question.questionType">
      <mat-option required class="question-type" *ngFor="let type of questionTypes" [value]=type.value
                  (click)='setQuestionType(type.value)'>
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <mat-form-field>
    <input required class="open-question-input" matInput placeholder="Wpisz pytanie"
           [value]="question.content" (input)="question.content = $event.target.value">
  </mat-form-field>

  <div *ngIf="questionType === 'CHOICE'">
    <app-choice-scale-question>[question]="question"</app-choice-scale-question>
  </div>

  <div *ngIf="questionType === 'SCALE'">
    <app-choice-scale-question>[question]="question"</app-choice-scale-question>
  </div>
</div>
