<div class="open-question-container">
  <mat-form-field>
    <mat-label>Wybierz typ pytania</mat-label>
    <mat-select [(ngModel)]="question.questionType">
      <mat-option class="question-type" *ngFor="let type of questionTypes" [value]=type required
                  (click)='setQuestionType(type)'>
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input class="open-question-input" matInput placeholder="Wpisz pytanie" required
           [value]="question.content" (input)="question.content = $event.target.value">
  </mat-form-field>

  <div *ngIf="questionType === 'NUMBER'">
   <label>Odpowiedź:</label>
    <input class="number-question-input" type="number" required
           [value]="question.answer" (input)="question.answer = $event.target.value">
  </div>

  <div *ngIf="questionType === 'CHOICE'">
    <app-choice-scale-question>[question]="question"</app-choice-scale-question>
  </div>

  <div *ngIf="questionType === 'SCALE'">
    <app-choice-scale-question>[question]="question"</app-choice-scale-question>
  </div>
</div>
