<div class="modal-header">
  <h4 class="modal-title" id="modal-position-title">Edycja stanowiska w teście</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group" *ngIf="positions">
      <select [(ngModel)]="selectedPosition" name="first">
        <option *ngFor="let position of positions">
          {{position.name}}
        </option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="activeModal.close('Save click'); assignPositionToTest(test.testTemplateId) ">
    Zapisz
  </button>
</div>
