<h1>Testy</h1>
<ng-template #new-test-content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodaj test</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Nazwa: &nbsp;</label>
        <input [(ngModel)]="position.name" type="text"  name="Nazwa">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); addNew()">Zapisz</button>
  </div>
</ng-template>

<table class="table table-striped" align="center">
  <thead>
  <tr>
    <th>Nazwa</th>
    <th>Stanowisko</th>
    <th>Autor</th>
    <th>Język</th>
    <th>Operacja</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let test of testTemplates">
    <td>{{test.name}}</td>
    <td>{{test.position}}</td>
    <td>{{test.author}}</td>
    <td>{{test.lang}}</td>
    <td>
      <a routerLink="/test/{{test.id}}">
        <button type="submit" class="btn btn-primary mb-2">Edytuj</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
