<button class="btn btn-primary mb-2" (click)="openModal(ngModalNewTest)">Dodaj</button>

<h1>Testy</h1>


<table class="table table-striped" align="center">
  <thead>
  <tr>
    <th>Nazwa</th>
    <th>Stanowisko</th>
    <th>Autor</th>
    <th>Język</th>
    <th>Operacja</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let test of testTemplates">
    <td>{{test.name}}</td>
    <td>{{test.position}}</td>
    <td>{{test.author}}</td>
    <td>{{test.lang}}</td>
    <td>
      <button type="submit" class="btn btn-primary mb-2" (click)="open(edit_modal,test)">Edytuj</button>
      <button type="submit" class="btn btn-primary mb-2" (click)="translate(test.testTemplateId, test.lang)">
        Przetłumacz
      </button>
      <a routerLink="/test/{{test.id}}">
        <button type="submit" class="btn btn-primary mb-2">Weź udział</button>
      </a>

    </td>
  </tr>
  </tbody>
</table>
