<h1>Testy</h1>

<table class="table table-striped" align="center">
  <thead>
  <tr>
    <th>Nazwa</th>
    <th>Stanowisko</th>
    <th>Autor</th>
    <th>Język</th>
    <th>Operacja</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let test of testTemplates">
    <td>{{test.name}}</td>
    <td>{{test.position}}</td>
    <td>{{test.author}}</td>
    <td>{{test.lang}}</td>
    <td>
      <a routerLink="/test/{{test.id}}">
        <button type="submit" class="btn btn-primary mb-2">Edytuj</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
