<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">TestyApp</a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/test-template']" >Testy</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/positions']" >Stanowiska</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/results']" >Rozwiązane testy</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
